* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.team-header h3 {
    /* border: 1px solid black; */

    color: #000;
    font-family: PT Serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.62px;

    margin-left: 120px;
    margin-top: 55px;
}

.team-description {
    margin-right: 250px;
    margin-top: 110px;
}

.team-description h4 {
    /* border: 1px solid black; */

    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.team-description p {
    /* border: 1px solid black; */

    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;

    width: 439px;
    height: 80px;
}

/* team img section */

.team-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 120px;
    /* border: 1px solid black; */
    margin-bottom: 185px;
}

.team-img-1 img {
    width: 75%;
    margin-top: 244px;
    display: block;
}

.team-img-2 img {
    width: 75%;
    margin-top: 396px;
    display: block;
}

.team-img-3 img {
    width: 75%;
    margin-top: 300px;
    display: block;
}

.team-img-4 img {
    width: 75%;
    display: block;
}

.team-img-5 img {
    width: 75%;
    margin-top: 90px;
    display: block;
}

.team-img-6 img {
    width: 75%;
    display: block;
}

.team-img-p {


    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
}

.name-1 {
    color: #000;
    font-family: PT Serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;

    position: relative;
    top: -495px;
    right: -303px;
    writing-mode: vertical-lr;
    white-space: nowrap;
}

.name-2 {
    color: #000;
    font-family: PT Serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;

    position: relative;
    top: -504px;
    right: -303px;
    writing-mode: vertical-lr;
    white-space: nowrap;
}

.name-3 {
    color: #000;
    font-family: PT Serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;

    position: relative;
    top: -495px;
    right: -303px;
    writing-mode: vertical-lr;
    white-space: nowrap;
}

.name-4 {
    color: #000;
    font-family: PT Serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;

    position: relative;
    top: -499px;
    right: -303px;
    writing-mode: vertical-lr;
    white-space: nowrap;
}

.name-5 {
    color: #000;
    font-family: PT Serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;

    position: relative;
    top: -503px;
    right: -303px;
    writing-mode: vertical-lr;
    white-space: nowrap;
}

.name-6 {
    color: #000;
    font-family: PT Serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;

    position: relative;
    top: -500px;
    right: -303px;
    writing-mode: vertical-lr;
    white-space: nowrap;
}

/* footer section */

footer p {
    /* border: 1px solid black; */
    color: #BDBDBD;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-family: Montserrat;
}

.tanvirjem2 {
    color: #BDBDBD;
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
    font-family: Montserrat;
}


/* Responsive section */

@media screen and (max-width:576px) {
    header {
        flex-direction: column;
        align-items: normal;
    }

    .team-header h3 {
        margin-left: 0px;
        margin-top: 0px;
    }


    .team-description {
        margin-top: 0px;
    }

    .team-description p {
        color: #000;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        width: 439px;
        height: 80px;
    }

    /* team img container */
    .team-img-container {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 20px;
        margin-top: 50px;
    }

    .team-img-1 img {
        width: 80%;
        margin-top: 10px;
        display: block;
    }

    .team-img-2 img {
        width: 80%;
        margin-top: 67px;
        display: block;
    }

    .team-img-3 img {
        width: 80%;
        margin-top: 0px;
        display: block;
    }

    .team-img-4 img {
        width: 80%;
        margin-top: 70px;
        display: block;
    }

    .team-img-5 img {
        width: 80%;
        margin-top: 0px;
        display: block;
    }

    .team-img-6 img {
        width: 80%;
        margin-top: 60px;
        display: block;
    }

    .name-1 {
        position: relative;
        top: -285px;
        right: -155px;
        writing-mode: vertical-lr;
        white-space: nowrap;
    }

    .name-2 {
        position: relative;
        top: -288px;
        right: -155px;
        writing-mode: vertical-lr;
        white-space: nowrap;
    }

    .name-3 {
        position: relative;
        top: -285px;
        right: -155px;
        writing-mode: vertical-lr;
        white-space: nowrap;
    }

    .name-4 {
        position: relative;
        top: -285px;
        right: -155px;
        writing-mode: vertical-lr;
        white-space: nowrap;
    }

    .name-5 {
        position: relative;
        top: -285px;
        right: -155px;
        writing-mode: vertical-lr;
        white-space: nowrap;
    }

    .name-6 {
        position: relative;
        top: -285px;
        right: -155px;
        writing-mode: vertical-lr;
        white-space: nowrap;
    }


}