* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.team-header h3 {
    /* border: 1px solid black; */

    color: #000;
    font-family: PT Serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.62px;

    margin-left: 200px;
    margin-top: 55px;
}

.team-description {
    margin-right: 250px;
    margin-top: 110px;
}

.team-description h4 {
    /* border: 1px solid black; */

    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.team-description p {
    /* border: 1px solid black; */

    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;

    width: 439px;
    height: 80px;
}

/* team img section */

.team-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 200px;
}

.team-img-1 img {
    width: 75%;
    margin-bottom: 89px;
    margin-top: 244px;
}

.team-img-2 img {
    width: 75%;
    margin-top: 396px;
    margin-bottom: 77px;
}

.team-img-3 img {
    width: 75%;
    margin-top: 300px;
    margin-bottom: 66px;
}

.team-img-4 img {
    width: 75%;
}

.team-img-5 img {
    width: 75%;
    margin-top: 90px;
}

.team-img-6 img {
    width: 75%;
}

/* footer section */

footer p {
    /* border: 1px solid black; */
    color: #BDBDBD;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-family: Montserrat;
}

.tanvirjem2 {
    color: #BDBDBD;
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
    font-family: Montserrat;
}